*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color:#ffffff;
    height: 100px;  
   
   }
   .headerdiv2{
       display: flex;
   }
   .headerchild1{
       display: flex;
       
   }
   .headerchild2{
       display: flex;
       
   }
   .squareicon{
       border: 1px solid #db3333 ;
       background-color:#db3333;
       width: 30px;
       height: 30px;
       border-radius: 4px;
       display: table;
       margin-right: 20px;
       margin-top: 8px;
   }
   .squareicon i{
       color: #ffffff;
       background-color:#db3333;
       display: table-cell;
       vertical-align: middle;
       text-align: center;
       font-size: 18px;
   }
   .abc{
       font-size: 14px;
       font-family: 'Fira Sans', sans-serif;
   }
   .def{
       font-size: 15px;
       font-family: 'Fira Sans', sans-serif;
   } 
   .zef{
       background-color:#db3333;
       padding: 10px 25px;
       border: none;
       color: white;
      
   }
   .zef:hover{
       background-color: #ff4343;
   }
   .nav-link{
       position: relative;
   }
   .nav-item {
       margin-left: 10px;
       font-size: 14px;
       font-weight: 500;
       
       position: relative; 
   } 
   .nav-link::after{
        position: absolute;
        content: '';
        height: 100%;
        width: 100%;
        top: 11px;
        left: 0%;

        border-bottom:0px solid #db3333!important;
        z-index: -3 !important; 
       
       
   }
   .home{
    position: relative !important;

   }
   .home::after{
        position: absolute !important;
        content: '';
        height: 100%;
        width: 100%;
        top: 11px;
        left: 0%;

        /* border-bottom:3px solid #db3333!important; */
   }  
   
   .nav-link:hover::after{
       color: #db3333 !important;
       z-index: 2;
       border-bottom:3px solid #db3333!important;
    

   
    }
   .nav-link{
       color: white !important;
   }
   nav form{
    padding-right: 60px !important;
   }
   .rb:hover{
    background-color: #ff4343!important;
}
.wb{
    background-color: transparent;
    border: 1px solid white!important;
}
.wb:hover{
    background-color: #db3333;
    border:1px solid red!important ;
}
   footer{
    padding-top: 60px;

    /* background-color: rgb(19,26,43); */
    color: white;
   height: 400px;
    background-image:linear-gradient(rgb(19, 26, 43),rgba(19, 26, 43, 0.8)), url(../images/footer-bg.png);
}
.bootomfoot{
    background-color:rgb(0,8,29) ;
    height: 100px;
    margin-top: 60px;
    padding: 0px 70px;
}
.btn-a{
    background-color:rgb(26,33,51) ;
}
.btn-b{
    background-color:rgb(26,33,51) ;
}
.btn-c{
    background-color:rgb(26,33,51) ;
}
.btn-d{
    background-color:rgb(26,33,51) ;
}
.btn-e{
    background-color:rgb(26,33,51) ;
}
.btn-a:hover {
    background-color:#3b5998;
}
.btn-b:hover {
    background-color:rgb(53,155,240);
}
.btn-c:hover {
    background-color:#ff4343;
}
.btn-d:hover {
    background-color:#3b5998;
}
.btn-e:hover {
    background-color:#3b5998;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto', sans-serif;
    font-weight:700 ;
}

.list li{
    margin-top: 20px;
    position: relative;
    margin-bottom: 20px;
    font-size: 14px;
}
.list li::before{
    content: '';
    width: 10px;
    height: 3px;
    /* color: red !important; */
    margin-right:10px ;
    background-color: red;
    position: absolute;
    top:50% ;
    right:100%;
}
footer ul li a:hover{
    color: #ff4343 !important;
}
.gallery_background{
    width: 100%;
    height: 300px;
    background-size: cover;
    /* background-repeat: no-repeat 50% 50%; */
     background: url(../images/banner5.jpg) no-repeat 50% 50% ; 
     /* background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) , url(../images/banner1.jpg); */
     display: flex;
    justify-content: center;
    align-items: center; 
   position: relative;
 }
 .gallery_body{
    color: white;
    font-size: 30px;
    font-family:'Roboto', sans-serif;
    font-weight: 700;    
}
.breadcrumb-item+.breadcrumb-item::before{
    color: #ffffff !important;
    font-size: 18px;
    padding-top: 16px;
}

.gallery_text{
    margin-top: 50px !important;
    margin-bottom: 80px;
}
.gallery_text h1{
    position: relative;
    margin-bottom: 5px;
}
.gallery_text h1::after{
    content: '';
    width: 50px;
    height: 2px;
    background-color: #db3333;
    position: absolute;
    top: 130%;
    left: 48%;
    
}
.Our_gallery{
    height:80vh ;
}
.service{
    width: 280px !important;
    position: relative;
}
.imgrow{
    margin: 0px 80px !important;
}
.gallery-icon{
    background: #0052a5;
    color: #ffffff;
    position: absolute;
    text-align: center !important;
    top: -10%;
    left: 45%;
    font-size: 16px;
    width: 36px;
    height: 36px;
    transform: translateY(0px);
    transition: 0.3s;
    opacity:0;
}
.service:hover .gallery-icon{
    transform: translateY(80px);
    z-index: 3;
    opacity:1;
}
.modal-body{
    
    background-color: black !important;
    /* position: relative !important;    */
}
.modal{
    /* left:-150px !important; */
   
}
.modal-content{
    /* position: relative !important; */
    /* width: 800px !important; */
}
.move{
    position: absolute !important;
    top:1% !important;
    left: 94% !important;
    z-index:2;
    font-size: 40px !important;
    /* border: 2px solid black !important; */
    color: black;
    font-weight: 700 !important;
}
.back-to-top{
    bottom:25px !important;
    position: fixed;
    right: 28px;
    top: auto;
    z-index:10;
    backface-visibility: hidden;
}
@media screen and (min-width:320px) and (max-width:480px){
    .header{
        height:100% !important;
        flex-direction:column !important;
    }
    footer{
        height: 100% !important;
    }
    .bootomfoot{
        height: 100% !important;
        flex-direction: column;
        width: 100%;
        padding-left:10px ;
        padding-right:10px ;
    }
    .copyright{
        text-align: center !important;
    }
    nav .containet{
        display: flex !important;
    }
    nav form button {
        margin-right: 0px !important;
    }
    .navflex{
        justify-content: space-between !important;
    }
    .nav-link::after{
        display:none;
    }
    nav form{
        padding-right: 0px !important;
    }
    .imgrow{
        height:100% !important;
        width:100% !important;
        margin: 20px 10px !important;
        /* text-align: center !important; */
    }
    .trans{
        height:100%;
        padding-left:0 !important;
    }
    .Our_gallery{
        height:100% !important;
        width: 100% !important;;

    }
    .Our_gallery img{
        margin-bottom: 20px;
    }
    .modal-body{
        height: 400px !important;
    }
    .modal-body img{
        height: 390px !important;
    }
    .move{
        height: 100% !important;
        width:100% !important;
        position:absolute !important;
        left: 85% !important;
    }
   
}